h1 {
    color: #ff0000;
    font-family: Calibri;
}

p {
    font-family: 'Courier New';
    color: #0052cc;
}

.variation {
    font-style: italic;
}

#tablediv {
    background-color: #1a75ff;
}

table, th, td {
    border: 2px solid #000;
}


tr:nth-child(even) {
    background-color: #ffff33;
}

tr:nth-child(odd) {
    background-color: #b3b300;
}

#headingRow {
    background-color: #fff;
}

.description {
    background-color: #ffa366;
    font-family: Arial;
    width: 900px;
    height: 220px;
}

div.description > h4 {
    color: #00802b;
}

.book-title {
    font-family: Helvetica;
    color: #FF0099;
    font-weight: bold;
}

a:hover {
    background-color: #00ccff;
}